
main {
  max-width: 600px;
  margin: auto;
  padding-bottom: 45px;
  padding-top: 45px;
}


/* easter egg */
.egg {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  font-size: 3rem;
  color: #ddd;
}

/* date bar */
.date-bar {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  z-index: 600;
  top: 0;
  left: 0;
}

.date-bar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 600px;
  position: relative;
}

.date-bar__date {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: #aaa;
  display: inline;
  margin: 0;
  padding-top: 3px;
}

.date-bar__btn-back,
.date-bar__btn-next {
  height: 44px;
  width: 60px;
  color: #aaa;
  font-size: 2.4rem;
  padding-bottom: 4px;
}

.date-bar__btn--disabled {
  color: #eee;
}

.date-bar__user-image {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 1px;
  border: 1px solid #a3b7ff;
  position: absolute;
  right: 4px;
  top: 4px;
}



/* check in grid */
.check-in-grid {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.check-in-grid__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-left: 13px;
  margin-right: 13px;
}

.check-in-grid__list li {
  width: 32%;
  height: 93px;
  line-height: 93px;
  background-color: #f2f6f9;
  margin-bottom: 2%;
  border-radius: 3px;
}


/* 
three colors, but each row is the same

.check-in-grid li:nth-of-type(1),
.check-in-grid li:nth-of-type(2),
.check-in-grid li:nth-of-type(3) {
  background-color: #bcc8f7;
}

.check-in-grid li:nth-of-type(4),
.check-in-grid li:nth-of-type(5),
.check-in-grid li:nth-of-type(6) {
  background-color: #c4f0e5;
}

.check-in-grid li:nth-of-type(7),
.check-in-grid li:nth-of-type(8),
.check-in-grid li:nth-of-type(9) {
  background-color: #fbeab4;
}
*/


/*
unique colors for each box
.check-in-grid li:nth-of-type(1) {
  background-color: #bcc8f7;
}
.check-in-grid li:nth-of-type(2) {
  background-color: #a3afe6;
}
.check-in-grid li:nth-of-type(3) {
  background-color: #8ea1e7;
}
.check-in-grid li:nth-of-type(4) {
  background-color: #c4f0e5;
}
.check-in-grid li:nth-of-type(5) {
  background-color: #a2e7d3;
}
.check-in-grid li:nth-of-type(6) {
  background-color: #8fe0c8;
}
.check-in-grid li:nth-of-type(7) {
  background-color: #fbeab4;
}
.check-in-grid li:nth-of-type(8) {
  background-color: #fade8c;
}
.check-in-grid li:nth-of-type(9) {
  background-color: #fed36f;
}*/




/* mood grid */
.mood-grid {
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 600px;
}

.mood-grid__list {
  display: flex;
  margin-left: 1vw;
  margin-right: 1vw;
  justify-content: space-evenly;
  text-align: center;
  color: #bbb;
}

.mood-grid li {
  width: 22vw;
  max-width: 100px;
  text-align: center;
}

.mood-grid button {
  width: 100%;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  padding: 0px;
}

/*
.mood-grid__btn-well {
  background-color: #ffdc87;
}
.mood-grid__btn-ok {
  background-color: #c6e2cf;
}
.mood-grid__btn-poorly {
  background-color: #b7c5ce;
}
*/





/* Footer Nav */
.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-top: 1px solid #eee;
  height: 45px;
  line-height: 45px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer__link {
  color: #888;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 120px;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer__link--selected {
  font-weight: bold;
  color: #a3b7ff;
  font-size: 1.4rem;
}







/* charts */

.chart-card {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  background-color: #fff;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.18);
  border-radius: 13px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border: 1px solid #eee;
}
